*.class
!.classpath
.metadata
*~
rendering-cache
.rendering-cache
http-cache
.http-cache
temporary-data
cachedir
.DS_Store
_deploy
_build
generated_build.xml
generated_ant.sh
generated_ant.bat
target
*.xcuserstate
*.dex
*.apk
*.ap_
*.xcuserdatad
.xcodeproj/ !*.xcodeproj/project.pbxproj
*.xcactivitylog
*.d
*/bin/

g3m-glasses-demo/bin/
g3m-glasses-demo/gen/
g3m-glasses-demo/build.xml
g3m-glasses-demo/local.properties
g3m-glasses-demo/libs/g3msharedsdk.jar

*.xccheckout
